body {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  background: #222831;
  padding-top: 50px;
}

.heading,
.challenge1,
.challenge2 {
  background: #eeeeee;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}
