body {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  background: #222831;
  padding-top: 50px;
}

.heading,
.challenge1,
.challenge2 {
  background: rgb(238, 238, 238);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.heading:hover,
.challenge1:hover,
.challenge2:hover {
  background: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

p {
  font-size: 17px;
}

#password-input,
#submit-input,
#username-input,
#email-input,
#login-input {
  border-color: #dbd8e3;
  border-style: solid, 1px;
  border-radius: 4px;
  padding: 7px 20px;
}

#login-input,
#submit-input {
  background: #222831;
  color: #eeeeee;
}

#login-input:hover,
#submit-input:hover {
  color: #0092ca;
  font-size: 14px;
  text-transform: uppercase;
}
