body {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  background: #222831;
  padding-top: 50px;
}

.heading,
.challenge1,
.challenge2,
footer {
  background: rgb(238, 238, 238);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.heading:hover,
.challenge1:hover,
.challenge2:hover,
footer:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(238, 238, 238);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  font-size: 12px;
  background: rgb(238, 238, 238);
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}

a  {
  text-decoration: none;
}

h1 {
  text-align: center;
}

p {
  font-size: 17px;
}

#password-input,
#submit-input,
#username-input,
#email-input,
#login-input {
  border-color: rgb(219, 216, 227);
  border-style: solid, 1px;
  border-radius: 7px;
  padding: 7px;
}

#login-input,
#submit-input {
  background: rgb(34, 40, 49);
  color: rgb(238, 238, 238);
}

#login-input:hover,
#submit-input:hover {
  border-color: rgb(34, 40, 49);
  background: rgb(238, 238, 238);
  color: rgb(34, 40, 49);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

input {
  color: rgb(0, 146, 202);
}
